div#navbar.showing {

    left: 0px;
}
#navbar{
    position: fixed;
    top:10px;
    left: -184px;
    display: none;
    background: #ccc;
    border-radius: 8px;
}
#navbar li{
    width:150px;
}
#wrap-top{
    position: relative;
}
#wrap-top button {
    position: absolute;
    top: 10px;
    right: -35px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
#tag-wrap #all-tags span {
    background: #007bff;
    color: white;
    padding: 3px 8px;
    margin: 2px;
    cursor: pointer;
    display: block;
    float: left;
    border-radius: 4px;
}
#tag-wrap #all-tags span:hover{
    background: #208bff;
}
#list-project a{
    color: #525252;
    font-size: 14px;
}
.modal-backdrop{
    opacity: 0.6;
}
span.tag.label.label-info {
    background: #007bff;
    border-radius: 3px;
    padding: 1px 7px;
    display: block;
    float: left;
    margin: 3px;
}
div#list-project li{
    list-style: none;
}
div#list-project li a {
    display: block;
    list-style: none;
    padding: 3px 5px;
    margin: 3px 5px;
    background: #ecebeb;
    border-radius: 6px;
    float:left;
}
div#list-project ul {
    padding: 0px;
    margin: 2px;
}
li.active {
    background: #ccc;
}

#list-project li a.active {
    background: #2393bd;
}

#list-project li a:hover{
    background: #ccc;
    text-decoration: none;
}
