div#navbar.showing {

    left: 0px;
}
#navbar{
    position: fixed;
    top:10px;
    left: -184px;
    display: none;
    background: #ccc;
    border-radius: 8px;
}
#navbar li{
    width:150px;
}
#wrap-top{
    position: relative;
}
#wrap-top button {
    position: absolute;
    top: 10px;
    right: -35px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
#tag-wrap #all-tags span {
    background: #007bff;
    color: white;
    padding: 3px 8px;
    margin: 2px;
    cursor: pointer;
    display: block;
    float: left;
    border-radius: 4px;
}
#tag-wrap #all-tags span:hover{
    background: #208bff;
}
#list-project a{
    color: #525252;
    font-size: 14px;
}
.modal-backdrop{
    opacity: 0.6;
}
span.tag.label.label-info {
    background: #007bff;
    border-radius: 3px;
    padding: 1px 7px;
    display: block;
    float: left;
    margin: 3px;
}
div#list-project li{
    list-style: none;
}
div#list-project li a {
    display: block;
    list-style: none;
    padding: 3px 5px;
    margin: 3px 5px;
    background: #ecebeb;
    border-radius: 6px;
    float:left;
}
div#list-project ul {
    padding: 0px;
    margin: 2px;
}
li.active {
    background: #ccc;
}

#list-project li a.active {
    background: #2393bd;
}

#list-project li a:hover{
    background: #ccc;
    text-decoration: none;
}
.login{
 width: 100%;
}
#forgot-pass{
    float: right;
}
.remember-account{
    display: flex;
    align-items: center;
}
#form-remember{
    margin-left: 20px;
}
.sign-in-provider{
    position: relative;
    text-align: left;

    margin-left:0px ;
    margin-right: 0px ;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid #e2e7eb;
    background-color: #fff;
    border-radius: 5px;

}
.icon-provider{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    line-height: 36px;
    font-size: 1.1em;
    text-align: center;
    border-right: 1px solid #d8dde4
}
.google-icon{
    color:#dd4b39 ;
}

